<h1>Listing master_tables</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @master_tables.each do |master_table| %>
  <tr>
    <td><%= link_to 'Show', master_table %></td>
    <td><%= link_to 'Edit', edit_master_table_path(master_table) %></td>
    <td><%= link_to 'Destroy', master_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Master table', new_master_table_path %>
